@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,700&display=swap');

:root {
    --main-font: 'Roboto Flex', sans-serif;
    --main-color: rgb(40, 111, 182);
}

html {
    font-size: var(--base-font-size);
}

.header {
    display: block;
    width: 100vw;
}

.title {
    font-family: var(--main-font);
    font-size: 3em;
    width: fit-content;
    margin: 0 auto;
}

.main {
    display: block;
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
}

.wrapper {
    display: block;
    width: 84em;
    margin: 0 auto;
    overflow: hidden;
}

s {
    display: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 600%;
    transition: 0.5s ease-in-out;
}

.slider-image-container {
    display: flex;
    flex-wrap: nowrap;
}

.slider-item {
    width: 100%;
}

img {
    border-radius: 0.6em;
    display: block;
    width: 100%;
    flex-basis: content;
    overflow: hidden;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: fit-content;
    margin: 0 auto;
}

.control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2.5em;
    background: transparent;
    cursor: pointer;
}

.control-bullet {
    border-radius: 50%;
    border: 0.15rem solid var(--main-color);
    width: 1em;
    height: 1em;
    transition: 0.2s;
}

.control-box:hover .control-bullet {
    border: 0.4rem solid var(--main-color);
    width: 0.5em;
    height: 0.5em;
}

#s1:target ~ .container { transform: translateX(0%); }
#s2:target ~ .container { transform: translateX(calc(100% / 6 * (-1))); }
#s3:target ~ .container { transform: translateX(calc(200% / 6 * (-1))); }
#s4:target ~ .container { transform: translateX(calc(300% / 6 * (-1))); }
#s5:target ~ .container { transform: translateX(calc(400% / 6 * (-1))); }
#s6:target ~ .container { transform: translateX(calc(500% / 6 * (-1))); }

#s1:target ~ .slider-controls *>#control-1,
#s2:target ~ .slider-controls *>#control-2,
#s3:target ~ .slider-controls *>#control-3,
#s4:target ~ .slider-controls *>#control-4,
#s5:target ~ .slider-controls *>#control-5,
#s6:target ~ .slider-controls *>#control-6 {
    background-color: var(--main-color);
}